# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
db.sqlite3
media/
staticfiles/

# Virtual Environment
venv/
env/
ENV/
.env

# Node
node_modules/

# React build
build/
dist/

# Logs
*.log

# ML Models
*.pkl

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
